.root {
  @apply flex flex-wrap bg-gray-900;
}

.column {
  @apply w-1/2;
  & > div {
    @apply h-full;
  }
}

.image {
  filter: grayscale(100%);
  transition: filter ease 0.4s;
  &:hover {
    filter: none;
  }
}
