{
  "semi": false,
  "printWidth": 85,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
	"jsxBracketSameLine": true,
	"arrowParens": "avoid",
  "overrides": [
    {
      "files": ["framework/saleor/**/*"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
