/* Sizes col */

.root {
  @apply flex flex-col justify-between;
}
.sizeTitle {
  @apply text-xl font-bold mb-2 xl:mb-5;
}

.sizesContainer {
  @apply list-none;
  & > li {
    @apply xl:mb-6;
  }
}

.sizeSwatch {
  @apply text-lg font-bold uppercase pt-1 pb-1;
  @apply min-w-[30px] text-left;
}

.madeIn {
  @apply pt-5;
}

.active {
  @apply border-solid border-secondary text-center;
  border-width: 1px;
  margin-left: -5px;
}

:global(.dark) {
  & .active {
    @apply border-lbsGreen;
  }
}
