.headingSection {
  @apply mb-20;
}
.headingRow {
  @apply w-full mb-16;
  @apply flex flex-wrap justify-between items-end;
}
.title {
  @apply text-6xl font-bold uppercase mb-5;
}
.shortText {
  @apply text-lg;
}
.richText {
  @apply text-2xl lg:text-4xl;
  line-height: 1.5;
}

.container {
  @apply my-32 max-w-[1580px] mx-auto px-8 lg:px-12;
}

/* Slide section */
.slideshowSection {
  @apply relative w-full mb-40;
  &:before {
    @apply absolute top-[18%] left-0;
    @apply w-full border-t-[1px] border-solid border-text-primary;
    content: ' ';
  }
  &:after {
    @apply absolute bottom-[16%] left-0;
    @apply w-full border-t-[1px] border-solid border-text-primary;
    content: ' ';
  }
}
