.headingSection {
  @apply mb-20;
}
.headingRow {
  @apply w-full mb-16;
  @apply flex flex-wrap justify-between items-end;
}
.title {
  @apply text-6xl font-bold uppercase mb-5;
}
.shortText {
  @apply text-lg;
}
.richText {
  @apply text-2xl lg:text-4xl;
  line-height: 1.5;
}

.container {
  @apply my-32 max-w-[1580px] mx-auto px-8 lg:px-12;
}

/* Slide section */
.slideshowSection {
  @apply relative w-full mb-40 2xl:mb-60;
  &:before {
    @apply absolute top-[18%] left-0;
    @apply w-full border-t-[1px] border-solid border-text-primary;
    content: ' ';
  }
  &:after {
    @apply absolute bottom-[16%] left-0;
    @apply w-full border-t-[1px] border-solid border-text-primary;
    content: ' ';
  }
}

/* Big Abbr section */
.bigAbbrSection {
  @apply mb-40 2xl:mb-60;
}

/* Gallery Section */
.gallerySection {
  @apply flex flex-wrap;
  & > div {
    @apply w-1/3 lg:w-1/4;
  }
}

.galleryItem {
  @apply w-full;
  @apply px-8 lg:px-10 2xl:px-12 mb-16 xl:mb-20 2xl:mb-24;
  & > div {
    @apply w-full;
  }
}

/* DARK MODE */
:global(.dark) {
  & .slideshowSection {
    &:before {
      @apply border-white;
    }
    &:after {
      @apply border-white;
    }
  }
}
