.root {
  @apply relative w-full bg-secondary;
  @apply hidden lg:block;
  position: relative;
}
.content {
  @apply absolute w-full h-full;
  @apply flex flex-wrap;
  z-index: 2;
}
.column {
  @apply w-1/3;
  @apply border-solid border-black border-[1px];
  @apply text-white;
}

.column:nth-child(1) {
  @apply flex justify-end pr-[3.5vw];
}
.navContainer {
  @apply pt-[32vh] pl-[3.5vw];
}

.navTitle {
  @apply text-[22px] font-bold mb-4;
}

.navItems li {
  @apply m-1 text-base hover:underline;
}

.imageContainer {
  @apply w-full;
  & > div {
    @apply max-w-full;
  }
}

.heroContent {
  @apply absolute w-full px-8 pt-6;
  z-index: 2;
}

.logo {
  @apply h-auto;
}
