.swiperSlide {
  position: relative;
}
.slideCaption {
  @apply absolute w-full bottom-0 left-0 bg-primary;
  @apply px-6 md:px-14 py-4 md:py-8 text-right text-sm sm:text-lg;
}

.slideSvgWrapper {
  @apply absolute top-0 left-0 w-full h-full p-12;
  @apply flex justify-center items-start;
}
.slideSvgText {
  @apply absolute top-0 w-4/5 h-auto;
  z-index: 2;
  left: 120px;
}
