.logoContainer {
  @apply relative block h-6 lg:h-[30px];
  & svg {
    @apply mb-1;
    @apply w-auto h-6 lg:h-auto;
  }
}
.logoItem {
  @apply absolute left-0 top-0 lg:top-1;
}

:global(.dark) {
  & .logoItem {
    & svg path {
      fill: #fff;
    }
  }
}
