.root {
  @apply flex flex-col mb-10;
}

.button {
  @apply w-[36px] h-[30px];
  @apply flex justify-center items-center py-4;
  @apply font-bold text-2xl;
  @apply border-[1px] border-secondary border-solid;
}

.counter {
  @apply w-[36px] h-[30px];
  @apply flex justify-center items-center py-4;
  @apply font-bold text-2xl select-none;
  @apply border-l-[1px] border-r-[1px] border-secondary border-solid;
}

:global(.dark) {
  & .button {
    @apply border-primary;
  }

  & .counter {
    @apply border-primary;
  }
}
