.root {
  @apply flex;
  @apply fixed w-full;
  @apply top-[40px] left-0;
  @apply bg-aqua border-t-[1px] border-text-primary;
  @apply z-50;
  height: calc(100% - 40px);
}

.navCol {
  @apply w-[60%] h-full;
  @apply relative;
}
.searchCol {
  @apply w-[40%] h-full;
  @apply border-l-[1px] border-secondary;
}

.search {
  @apply flex mt-4 px-4;
  & form {
    @apply w-full;
  }
}
.searchGroup {
  @apply relative w-full;
}
.searchInput {
  @apply w-full;
  @apply appearance-none;
  @apply h-10 bg-lbsGray border-[1px] border-secondary uppercase border-solid outline-none pl-3 pr-10;
  @apply text-xs;
}
.searchButton {
  @apply absolute right-0 h-full pl-1 px-2;
  & svg {
    @apply w-[14px] h-auto;
  }
}

:global(.dark) {
  & .root {
    @apply text-text-primary;
  }
}
