.root {
  @apply mt-2;
}

.titleContainer {
  border-bottom: 1px solid;
  @apply border-secondary;
}

.title {
  @apply inline-block;
  @apply bg-lbsGreen border-[1px] border-secondary border-solid;
  @apply border-b-0;
  @apply px-20 py-12;
  @apply text-6xl uppercase font-light;
}

.productsContainer {
  @apply flex;
}

.product {
  @apply w-1/3;
  & > div {
    @apply w-full h-full;
  }
}

:global(.dark) {
  & .title {
    @apply border-primary text-secondary-2;
  }
  & .titleContainer {
    @apply border-primary;
  }
}
