.title {
  @apply w-full lg:max-w-[70%] 2xl:max-w-screen-xl mx-auto py-20;
  & h2 {
    @apply text-4xl 2xl:text-[2.5rem] text-center uppercase leading-loose;
    @screen lg {
      letter-spacing: 0.35rem;
    }
    @screen 2xl {
      letter-spacing: 0.6rem;
    }
  }
}
.imgContainer {
  @apply w-full;
}

.cardImage {
  @apply relative;
  @apply w-[92%] mx-auto;
}
.cardImageContent {
  @apply absolute bottom-4 right-12;
  @apply max-w-screen-sm;
  & p {
    @apply text-2xl mb-10 leading-extra-loose;
  }
}

.section {
  &:not(:first-child) {
    @apply py-28;
  }
}
/* .section1 {
  & .imgContainer {
    @apply max-w-[1762px] mx-auto;
  }
} */
/* .section2 {
  & .imgContainer {
    @apply max-w-[1770px] mx-auto;
  }
  & .cardImageContent {
    & p {
      @apply text-right;
    }
  }
} */
/* .section3 {
  & .cardImageContent {
    @apply max-w-[43%] left-12 right-auto;
  }
  & .thumb_3_container {
    @apply absolute top-0 left-0;
    @apply w-full h-full;
    @apply flex justify-end;
    @apply pr-16 pt-16;
  }
  & .thumb_3_b {
    @apply w-1/2 ml-14;
  }
  & .thumb_3_c {
    @apply w-1/3;
  }
} */
.section4 {
  /* & .imgContainer */
  & .cardImage {
    @apply w-[98%];
  }
  & .bgImg {
    @apply w-[68%];
  }
  & .cardImageMiddleContent {
    @apply absolute right-12 top-1/2 w-[60%];
    @apply -translate-y-1/2;
    & .title {
      @apply max-w-none;
    }
  }
  & .cardImageContent {
    @apply max-w-[42%] left-12 right-auto;
  }
}
.section5 {
  & .cardImage {
    @apply w-[98%];
  }
  & .imgContainer {
    @apply w-[60%] mx-auto;
  }
}
