.root {
  @apply absolute w-full;
  @apply bottom-[18%] left-0
  /* @apply relative; */
  /* top: -18%; */;
}

.navbar {
  @apply inline-block relative;
  @apply min-w-[60%] ml-[20%];
}

.topRow {
  @apply flex items-end justify-between;
  @apply bg-aqua border-secondary border-solid border-[1px];
  @apply border-b-0;
  min-height: 46px;
}

.toolbar {
  @apply flex items-end pb-2;
}

.menu {
  @apply flex items-center uppercase text-lg px-6;
  & li {
    @apply mx-4;
  }
}

.bottomRow {
  @apply absolute w-full left-0;
  @apply bg-aqua border-secondary border-solid border-[1px];
  min-height: 46px;
}

.search {
}
.searchGroup {
  @apply relative ml-3 mb-1;
}
.searchInput {
  @apply h-12 bg-lbsGray border-secondary uppercase border-solid outline-none px-4;
  border-width: 1px;
  width: 200px;
}
.searchButton {
  @apply absolute right-0 h-full pr-2 pl-1;
}

.collapse {
  @apply w-[32%] h-full;
  @apply border-solid border-secondary;
  @apply border-l-[1px];
}
.collapseTop {
  @apply flex;
  & .rightBar {
    @apply flex items-end justify-center;
  }
}
.collapseBottom {
  @apply ml-auto;
  @apply flex justify-end;
  & .rightBar {
    height: calc(100% - 38px);
  }
}
.collapseTopContent {
  @apply flex-grow;
}
.breadcrumbs {
  @apply pb-8 text-lg uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.bottomRowFooter {
  @apply absolute bottom-0 left-0;
  @apply w-full h-[38px];
  @apply border-t-[1px] border-solid border-secondary;
  @apply flex justify-end items-center;
  @apply px-6;
}

.rightBar {
  @apply w-[38px] h-full;
  @apply border-l-[1px] border-solid border-secondary;
}
