.root {
  @apply flex flex-wrap bg-secondary;
}

.column {
  @apply relative w-1/2;
}

/* column Left */
.columnLeft {
  &:hover {
    & .content {
      @apply flex;
    }
  }
}

/* Image */
.imgContainer {
  @apply h-full;
  & > div {
    @apply h-full;
  }
}
.image {
}

/* SVG Logos and Text */
.textDuck {
  @apply absolute;
  width: 65%;
  height: auto;
  top: 8%;
  left: 6%;
}
.logoIntimoWrapper {
  @apply absolute;
  bottom: 5%;
  left: 6%;
}
.logoIntimo {
}

/* Content */
.content {
  @apply absolute hidden top-0 -right-full w-full h-full bg-lbsGreen;
  @apply border-secondary border-solid px-10 py-12;
  @apply flex-col;
  border-width: 1px;
  z-index: 1;
}

.contentBody {
  @apply text-4xl flex-grow;
}
.contentfooter {
  @apply text-xl pb-4;
}
